/* FIRST ITERATION */
@font-face {
  font-family: "Super";
  src: url("/assets/GT-Super-Display-Medium.otf") format("otf");
}
* {
  margin: 0;
  box-sizing: border-box;
}

body.jacob-1 {
  background: black;
  font-family: 'Times New Roman', serif;
  color: white;
  font-size:5vw;
  padding: 2rem;
}

body.jacob-1 .one {
 margin-bottom: 2rem;
}

body.jacob-1 .two {
  font-style: italic;
  margin-bottom: 2rem;
}

body.jacob-1 .three{
  
}


/* SECOND ITERATION */


body.jacob-2 {
  background-color: white;
  font-family: 'Times New Roman', serif;
  padding: 2rem;
  font-size: 4vw;
  hyphens; auto;
}
body.jacob-2 .one {
  float:left;
  width: calc(50% - 2rem);
  clear: both;
  padding: 0 1rem;
}
body.jacob-2 .two {
  float: right;
  width: calc(50% - 2rem);
  clear: both;
  padding: 0 1rem;
}
body.jacob-2 .three{
  width: 100%;
  clear: both;
}


/* THIRD ITERATION */


body.jacob-3 {
  background-color: gray;
  font-family: sans-serif;
  font-size:24px;
  color: black;
  padding: 2rem;
}

body.jacob-3 .one {
  background: white;
  border-radius: 100px;
  padding: 60px;
  margin-bottom: 2rem;
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  width: 60%;
  position: relative;
}

body.jacob-3 .two {
  background: black;
  color: white;
  border-radius: 100px;
  padding: 60px;
  margin-bottom: 2rem;
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  width: 60%;
  position: relative;
}

body.jacob-3 .three{
  color: black;
}

@keyframes slidein {
  0% {
    left: 0%;
  }

  50% {
    left: 50%;
  }
  
  100% {
    left: 0%;
  }
}
